<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
           
            <li> <a [routerLink]="['/admin']" class="dropdown-item"><i class="fa fa-home"></i> Home </a>
            <li> <a [routerLink]="['/admin/Empolyee']" class="dropdown-item"><i class="fa fa-user"></i> Empolyee </a>
            <li> <a [routerLink]="['/admin/Company']" class="dropdown-item"><i class="fa fa-user"></i> Company </a>
            <li><a><i class="fa fa-bars"></i> Project </a>
            </li>

        </ul>
    </div>

</div>