<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Employee <small></small></h3>
      </div>

      <div class="title_right">
        <div
          class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for..."
            />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Employee <small>Full details</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-expanded="false"
                  ><i class="fa fa-wrench"></i
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat" />
                    </th>
                    <th class="column-title">First Name</th>
                    <th class="column-title">Last Name</th>
                    <th class="column-title">Gender</th>
                    <th class="column-title">Email</th>
                    <th class="column-title">Phone</th>
                    <th class="column-title">Company Name</th>
                    <th class="column-title">Company Address</th>
                    <th class="column-title no-link last">
                      <span class="nobr">Action</span>
                    </th>
                    <th class="bulk-actions" colspan="7">
                      <a class="antoo" style="color: #fff; font-weight: 500"
                        >Bulk Actions ( <span class="action-cnt"> </span> )
                        <i class="fa fa-chevron-down"></i
                      ></a>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    class="even pointer"
                    *ngFor="let employee of employeeList"
                  >
                    <td class="a-center">
                      <input
                        type="checkbox"
                        class="flat"
                        name="table_records"
                      />
                    </td>
                    <td class=" ">{{ employee.firstName }}</td>
                    <td class=" ">{{ employee.lastName }}</td>
                    <td class=" ">{{ employee.gender }}</td>
                    <td class=" ">{{ employee.email }}</td>
                    <td class=" ">{{ employee.phone }}</td>
                    <td class="a-right a-right">{{ employee.companyName }}</td>
                    <td class="a-right a-right">
                      {{ employee.companyAddress }}
                    </td>
                    <td class="last">
                      <span> <i class="fa fa-eye" aria-hidden="true"></i></span>
                      <span>
                        <i class="fa fa-pencil" aria-hidden="true"></i
                      ></span>
                      <span>
                        <i class="fa fa-trash" aria-hidden="true"></i
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
