
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3> Employee</h3>
        </div>

        <div class="title_right">
          <div
            class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search"
          >
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Create Employee<small></small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form
                id="demo-form2"
                data-parsley-validate
                class="form-horizontal form-label-left"
                [formGroup]="addEmployee" (ngSubmit)="createEmployee()"
              >
                <div class="form-group">
                  <label
                    class="control-label col-md-3 col-sm-3 col-xs-12"
                    for="first-name"
                    >First Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input
                      type="text"
                      id="first-name"
                      required="required"
                      formControlName="firstName"
                      class="form-control col-md-7 col-xs-12"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label
                    class="control-label col-md-3 col-sm-3 col-xs-12"
                    for="last-name"
                    >Last Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input
                      type="text"
                      id="last-name"
                      formControlName="lastName"
                      name="last-name"
                      required="required"
                      class="form-control col-md-7 col-xs-12"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                    >Gender
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="gender" class="btn-group">
                      <label class="genderBtn">
                        <input type="radio" name="gender" formControlName="gender" value="Male" selected/> Male
                        <input type="radio" name="gender" formControlName="gender" value="Female" />
                        Female
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                    >Email<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input
                      id="email"
                      class="date-picker form-control col-md-7 col-xs-12"
                      required="required"
                      type="text"
                      formControlName="email"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                    >Phone<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input
                      id="phone"
                      class="date-picker form-control col-md-7 col-xs-12"
                      required="required"
                      type="text"
                      formControlName="phoneNo"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                    >Company <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 dropdown">
                    <select id="inputState" class="form-control" formControlName="companyId">
                      <option [value]="item.companyId" *ngFor="let item of companies">{{item.companyName}}</option>
                    </select>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" (click)="goBack()">
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-success" >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
