<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Admin Portal</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="../../assets/../../assets/images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />
               
                <!-- sidebar menu -->
                <app-sidebar></app-sidebar>
                
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <app-sidebarfooter></app-sidebarfooter>
               
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <app-topnav></app-topnav>
     
        <!-- /top navigation -->

        <!-- page content -->
        <router-outlet></router-outlet>
        <!-- /page content -->

    </div>
</div>