<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
            <div class="title_left">
            <h3>Profile <small></small></h3>
            </div>
           
      </div>

      <div class="clearfix"></div>

      <div class="row">

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                <h2> Here all the details</h2>             
                <div class="clearfix"></div>
                </div>

                <div class="x_content">


                    <div class="table-responsive">
                        <div class="profileCard">
                            <img src="../../../assets/images/profileDeeps.jpg" alt="" srcset="">
                            
                            <div class="profileTitle">
                                <h1>{{employeeDetail.firstName}} {{employeeDetail.lastName}}</h1>
                                <h4> 
                                    <i class="fa fa-building-o fa-lg" aria-hidden="true"></i> AykanSoft
                                     <i class="fa fa-map-marker" aria-hidden="true"></i> Mangalore
                                </h4>
                                <h4> <a href="mailto:{{employeeDetail.email}}"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> {{employeeDetail.email}}</a></h4>
                                <h4> <a href="tel:{{employeeDetail.phone}}"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> {{employeeDetail.phone}}</a></h4>
                            </div>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
